*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Microsoft YaiHei", "Helvetica Neue", Helvetica, STHeiti, Arial, sans-serif;
}
html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}
img{
    border: none;
}
.container{
    background: #f5f5f5;
    padding-bottom: 50rem;
}
/*header*/
.header{
    height: 43rem;
    line-height: 43rem;
    background: #93d4d9;
    position: relative;
}
.header a{
    font-size: 16rem;
    color: #ffffff;
    line-height: 43rem;
    display: inline-block;
}
.header a img{
    width: 10rem;
    margin: 0 5rem 0 12rem;
    vertical-align: sub;
}
.header h1{
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 18rem;
    line-height: 43rem;
    text-align: center;
    color: #ffffff;
}

/*nav*/
.nav{
    background: #ffffff;
}
.nav ul{
    height: 43rem;
    line-height: 43rem;
    display: -webkit-flex;
    display: flex;
}
.nav ul li{
    color: #636363;
    font-size: 15rem;
    text-align: center;
    position: relative;
    flex: auto;
}
.nav ul li a{
    color: #636363;
    display: block;
    width: 100%;
    height: 100%;
}
.nav ul li.active .line{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    width: 80%;
    margin: auto;
    background: #93d4d9;
}

.banner a{
    display: block;
}
.banner img{
    width: 100%;
}

.tags{
    background: #ffffff;
}
.tags ul{
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    padding: 16rem 0;
    box-sizing: border-box;
    border-bottom: 1rem solid #e5e5e5;
}
.tags ul li{
    text-align: center;
    flex: auto;
}
.tags ul a{
    display: block;
    color: #333333;
}
.tags ul a img{
    width: 45rem;
}
.tags ul li p{
    font-size: 14rem;
    line-height: 22rem;
    margin-top: 10rem;
}

.column{
    background: #ffffff;
}
.column ul{
    padding: 15rem 11rem;
    display: flex;
    display: -webkit-flex;
    text-align: center;
}
.column ul li{
    flex: auto;
}
.column ul a{
    display: block;
}
.column ul li a img{
    width: 78rem;
}
.column ul a h2{
    font-size: 18rem;
    color: #000;
    line-height: 28rem;
}
.column ul a p{
    font-size: 13rem;
    line-height: 25rem;
    color: #000;
}
.column ul li.middle{
    border-left: 1rem solid #e5e5e5;
    border-right: 1rem solid #e5e5e5;
}

section{
    margin-top: 14rem;
    background: #ffffff;
}
section h2{
    font-size: 18rem;
    line-height: 38rem;
    padding-top: 5rem;
    border-bottom: 2rem solid #e2e2e2;
    margin: 0 12rem;
}
section ul{
    padding: 14rem 12rem 0 12rem;
    display: flex;
    display: -webkit-flex;
}
section ul li.text{
    text-align: center;
    flex: auto;
    margin-left: 10rem;
}
section ul a{
    display: block;
    padding: 0;
    margin-bottom: 10rem;
    color: #333;
}
section ul a.img_box{
    height: 85rem;
}
section ul img{
    width: 91rem;
}
section ul li.text a{
    background: #f8f8f8;
    font-size: 14rem;
    line-height: 37rem;
}
.section2{
    margin-bottom: 12rem;
}

.article_1{
    background: #ffffff;
    border-bottom: 2rem solid #f3f3f3;
    padding: 10rem 12rem;
}
.article_1 a{
    display: block;
}
.article_1 img{
    width: 105rem;
}
.article_1 .right{
    display: inline-block;
    width: 220rem;
    vertical-align: top;
    position: relative;
    height: 74rem;
    margin-left: 10rem;
}
.article_1 h2{
    font-size: 17rem;
    color: #545454;
    line-height: 22rem;
}
.article_1 p{
    font-size: 14rem;
    line-height: 18rem;
    color: #bcbcbc;
    position: absolute;
    bottom: 0;
}

.article_2{
    padding: 0 12rem;
    background: #ffffff;
}
.article_2 a{
    display: block;
}
.article_2 h2{
    font-size: 17rem;
    color: #545454;
    line-height: 38rem;
}
.article_2 p{
    font-size: 14rem;
    line-height: 30rem;
    color: #bcbcbc;
}
.article_2 .img_box{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.article_2 .img_box img{
    width: 115rem;
    height: 74rem;
}